:root {
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--paragraph-font);
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 40px;
}

h3 {
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 36px;
  color: #272142;
}

h4 {
  font-family: var(--heading-font);
  font-size: 48px;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #272142;
  opacity: 0.7;
}

.sum-paragraph {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 50px 0;
  color: #272142;
  opacity: 1;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 140px 20px;
}

.hero p {
  font-family: var(--paragraph-font);
  font-weight: 400;
  font-size: 24px;
  color: #272142;
  margin-top: 25px;
}

.content-container {
  margin: 100px 10px;
}

.content {
  padding: 50px 0 40px 0px;
}

.content h1 {
  font-size: 64px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--paragraph-font);
}

.content h3 {
  font-size: 24px;
}

.about-page-img img {
  max-width: 74%;
  display: block;
  margin: 10px auto;
}

.img-author-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #a8a4f9;
  font-size: 14px;
}

.img-author-link:hover {
  text-decoration: underline;
  color: #847ef7;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  background: var(--primary-color);
  border-radius: 4px;
  color: black;
}

.project-description {
  margin-top: 30px;
  margin-left: 50px;
}

.project-button {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  padding: 18px 30px;
  transition: all 200ms ease-in-out;
  margin-top: 7px;
}

.project-button:hover {
  border: 1px solid var(--primary-color);
  color: black;
}

footer .work-inquiry {
  background: var(--secondary-color);
  max-width: 85%;
  margin: 70px auto;
  border-radius: 20px;
  padding: 50px 80px 35px;
  vertical-align: middle;
}

.bottom-paragraph p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.inquiry-button-parent {
  text-align: center;
  display: flex;
  align-items: center;
}

.email-parent {
  text-align: center;
  margin-bottom: 40px;
}

.email {
  text-decoration: none;
  color: black;
  font-size: 24px;
  line-height: 36px;
}

.email:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.social-media-icons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.facebook-icon,
.github-icon {
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 20px;
  transition: all 200ms ease-in-out;
}

.facebook-icon:hover,
.github-icon:hover {
  background-color: var(--primary-color);
  color: white;
}

.facebook-icon {
  padding: 15px 19px;
  margin-right: 30px;
}

.twitter-icon {
  margin-right: 30px;
}

footer .author {
  text-align: center;
}

footer .author p {
  font-size: 14px;
}

footer .author a {
  color: var(--primary-color);
  text-decoration: none;
}
nav {
  padding: 20px 50px 20px 30px;
  background-color: white;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  line-height: 45px;
  margin-left: 30px;
}

nav li a {
  text-decoration: none;
  color: #272142;
}

nav li a:hover,
nav li.active a {
  color: var(--primary-color);
}

nav .logo {
  position: absolute;
  top: 10px;
  left: 0;
  max-width: 150px;
}

nav .small-logo {
  position: absolute;
  top: 5px;
  left: -50px;
  max-width: 100px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 38px;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 28px;
  }

  .hero p {
    font-size: 18px;
    margin-top: 10px;
  }

  .content-container {
    margin-top: 60px 0 0 0;
  }

  .content {
    text-align: center;
    padding: 0 0 30px 0;
  }

  .content h1 {
    font-size: 42px;
  }

  .about-page-img img {
    max-width: 85%;
    display: block;
    margin: 0 auto;
  }

  .btn-branding {
    font-size: 15px;
    line-height: 20px;
    padding: 20px 35px;
    margin-top: 15px !important;
  }

  p {
    font-size: 15px;
    text-align: center;
  }

  .sum-paragraph {
    font-size: 13px;
    margin: 20px 0;
  }

  .project-description {
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
  }

  .project-button {
    margin-top: 12px;
  }

  .hero {
    padding: 160px 20px;
  }

  .project-block {
    margin-top: 10px !important;
  }

  h4 {
    font-size: 24px;
  }

  .work-inquiry {
    margin: 30px auto;
    border-radius: 10px;
    padding: 30px 40px 10px;
  }

  .bottom-paragraph p {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
  }

  .work-inquiry-button {
    margin-top: 0 !important;
  }

  .email {
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 36px;
  }

  nav {
    padding: 5px 50px 5px 30px;
  }

  nav li {
    margin-left: 10px;
  }

  footer .email-parent {
    margin-top: 30px;
  }

  footer .social-media-icons {
    margin-bottom: 40px;
  }

  footer .author p {
    font-size: 10px;
  }
}
