:root {
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--paragraph-font);
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 6rem;
}

h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 3.25rem;
  margin-bottom: 2.5rem;
}

h3 {
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 2.25rem;
  color: #272142;
}

h4 {
  font-family: var(--heading-font);
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #272142;
  opacity: 0.7;
}

.sum-paragraph {
  font-size: 1.125rem;
  line-height: 1.688rem;
  text-align: center;
  margin: 3.125rem 0;
  color: #272142;
  opacity: 1;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 8.75rem 1.25rem;
}

.hero p {
  font-family: var(--paragraph-font);
  font-weight: 400;
  font-size: 1.5rem;
  color: #272142;
  margin-top: 1.563rem;
}

.content-container {
  margin: 6.25rem 0.625rem;
}

.content {
  padding: 3.125rem 0 2.5rem;
}

.content h1 {
  font-size: 4rem;
}

.content h2 {
  font-size: 1.125rem;
  font-family: var(--paragraph-font);
}

.content h3 {
  font-size: 1.5rem;
}

.about-page-img img {
  max-width: 74%;
  display: block;
  margin: 0.625rem auto;
}

.img-author-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #a8a4f9;
  font-size: 0.875rem;
}

.img-author-link:hover {
  text-decoration: underline;
  color: #847ef7;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 0.25rem;
  color: white;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.688rem;
  padding: 1.125rem 2.875rem;
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  background: var(--primary-color);
  border-radius: 0.25rem;
  color: black;
}

.project-description {
  margin-top: 1.875rem;
  margin-left: 3.125rem;
}

.project-button {
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  border: 0.063rem solid var(--primary-color);
  padding: 1.063rem 1.875rem;
  transition: all 200ms ease-in-out;
  margin-top: 0.438rem;
}

.project-button:hover {
  border: 0.063rem solid var(--primary-color);
  color: black;
}

footer .work-inquiry {
  background: var(--secondary-color);
  max-width: 85%;
  margin: 4.375rem auto;
  border-radius: 1.25rem;
  padding: 3.125rem 5rem 2.188rem;
  vertical-align: middle;
}

.bottom-paragraph p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 1.25rem;
}

.inquiry-button-parent {
  text-align: center;
  display: flex;
  align-items: center;
}

.email-parent {
  text-align: center;
  margin-bottom: 2.5rem;
}

.email {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.email:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.social-media-icons {
  margin-bottom: 3.125rem;
  display: flex;
  justify-content: center;
}

.facebook-icon,
.github-icon {
  background-color: var(--secondary-color);
  padding: 0.938rem;
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 1.25rem;
  transition: all 200ms ease-in-out;
}

.facebook-icon:hover,
.github-icon:hover {
  background-color: var(--primary-color);
  color: white;
}

.facebook-icon {
  padding: 0.938rem 1.188rem;
  margin-right: 1.875rem;
}

.twitter-icon {
  margin-right: 1.875rem;
}

footer .author {
  text-align: center;
}

footer .author p {
  font-size: 0.875rem;
}

footer .author a {
  color: var(--primary-color);
  text-decoration: none;
}
nav {
  padding: 1.25rem 3.125rem 1.25rem 1.875rem;
  background-color: white;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  line-height: 2.813rem;
  margin-left: 1.875rem;
}

nav li a {
  text-decoration: none;
  color: #272142;
}

nav li a:hover,
nav li.active a {
  color: var(--primary-color);
}

nav .logo {
  position: absolute;
  top: 0.625rem;
  left: 0;
  max-width: 9.375rem;
}

nav .small-logo {
  position: absolute;
  top: 0.313rem;
  left: -3.125rem;
  max-width: 6.25rem;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }

  @media (max-width: 575px) {
    html {
      font-size: 10px;
    }
  }
  /* h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 38px;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 28px;
  }

  .hero p {
    font-size: 18px;
    margin-top: 10px;
  }

  .content-container {
    margin-top: 60px 0 0 0;
  }

  .content {
    text-align: center;
    padding: 0 0 30px 0;
  }

  .content h1 {
    font-size: 42px;
  }

  .about-page-img img {
    max-width: 85%;
    display: block;
    margin: 0 auto;
  }

  .btn-branding {
    font-size: 15px;
    line-height: 20px;
    padding: 20px 35px;
    margin-top: 15px !important;
  }

  p {
    font-size: 15px;
    text-align: center;
  }

  .sum-paragraph {
    font-size: 13px;
    margin: 20px 0;
  }

  .project-description {
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
  }

  .project-button {
    margin-top: 12px;
  }

  .hero {
    padding: 160px 20px;
  }

  .project-block {
    margin-top: 10px !important;
  }

  h4 {
    font-size: 24px;
  }

  .work-inquiry {
    margin: 30px auto;
    border-radius: 10px;
    padding: 30px 40px 10px;
  }

  .bottom-paragraph p {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
  }

  .work-inquiry-button {
    margin-top: 0 !important;
  }

  .email {
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 36px;
  }

  nav {
    padding: 5px 50px 5px 30px;
  }

  nav li {
    margin-left: 10px;
  }

  footer .email-parent {
    margin-top: 30px;
  }

  footer .social-media-icons {
    margin-bottom: 40px;
  }

  footer .author p {
    font-size: 10px;
  } */
}
